version: '3'
services:
  php:
    container_name: vladis_php
    build: build/php
    image: vladis/php
    volumes:
      - "../back:/var/www"
      - "./build/php/php.ini:/usr/local/etc/php/php.ini:ro"
    ports:
      - "9000:9000"
    depends_on:
      - db
    networks:
      - vladis
  nginx_back:
    container_name: vladis_nginx_back
    build: build/nginx_back
    image: vladis/nginx_back
    expose:
      - "80"
    ports:
      - "8081:80"
    volumes:
      - "../back:/var/www"
      - "./logs/nginx:/var/log/nginx"
    depends_on:
      - db
    networks:
      - vladis
  db:
    container_name: vladis_db
    build: build/db
    image: vladis/db
    volumes:
     - "./volumes/pgdata:/var/lib/postgresql/data"
    tmpfs:
     - /run
     - /tmp
    expose:
     - "5432"
    ports:
     - "5432:5432"
    networks:
      vladis:
        aliases:
          - postgresql
  node:
    container_name: vladis_node
    build: build/node
    image: vladis/node
    volumes:
      - './volumes/npm:/.npm'
      - './volumes/npm:/home/node/.npm'
      - '../front:/app'
    ports:
      - "8080:8080"
  nginx_front:
    container_name: vladis_nginx_front
    build: build/nginx_front
    image: vladis/nginx_front
    depends_on:
      - node
    expose:
      - "80"
    ports:
      - "80:80"
    volumes:
      - "./logs/nginx/:/var/log/nginx/"
      - "../src/static:/etc/nginx/http"
networks:
  vladis:
    external: true
